<html>
    <head>
        <title>
            {{ .Title }}
        </title>
        {{ range .Javascript }}
            <script src=static/js/{{ . }}.js></script> 
        {{ end }}
        {{ range .CSS }}
            <link rel="stylesheet" href=static/css/{{ . }}.css></script> 
        {{ end }}
    </head>
    <body>
        <div id="face" class="face">
            <div class="eye-section">
                <div class="left-eye"></div>
                <div class="right-eye"></div>
            </div>
            <div class="mouth-section">
                <div id="mouth" class="mouth close">
                </div>
            </div>
        </div>
    </body>
<html>