<html>
    <head>
        <title>
            {{ .Title }}
        </title>
        {{ range .Javascript }}
            <script src=static/js/{{ . }}.js></script> 
        {{ end }}
        {{ range .CSS }}
            <link rel="stylesheet" href=static/css/{{ . }}.css></script> 
        {{ end }}
    </head>
    <body>
        OBS<br>
        <div id="stream-status">
            <span id="streaming-status" class="{{ if .StreamStatus }}green{{ else }}red{{ end }}">
                Streaming
            </span>
            <span id="recording-status" class="{{ if .RecordStatus }}green{{ else }}red{{ end }}">
                Recording
            </span>
        </div>
        <div id="stream-options">
            <span id="stream">
                <input type="checkbox" id="stream-enabled" {{ if .StreamStatus }} checked {{ end }} name="stream-enabled">
                <label for="stream-enabled">Stream</label>
            </span>
            <span id="record">
                <input type="checkbox" id="record-enabled" {{ if .RecordStatus }} checked {{ end }} name="record-enabled">
                <label for="record-enabled">Record</label>
            </span>
        </div>
        <button id="update-stream">Submit</button>
        <br>
        <div id="create-scene">
            <input type="text" id="create-scene-name" /><button id="create-scene-submit">Create Scene</button><br>
            <select id="select-scene-options">
                {{ range .Scenes }}
                    <option value="{{ .SceneName }}">{{ .SceneName }}</option>
                {{ end }}
            </select>
        </div>
        <div>
            <br>
            <span>Set Task:</span>
            <br>
            <input type="text" value="{{ .Task.Text }}" id="task-text" \>
            <br>
            <label for="task-color">Text Color: </label>
            <input type="color" id="task-color" name="task-color" value="#{{ .Task.Color }}"> 
            <br>
            <label for="task-width">Width:</label>
            <input type="number" id="task-width" name="task-width" value="{{ .Task.Width }}" min="0" \>
            <label for="task-height">Height:</label>
            <input type="number" id="task-height" name="task-height" value="{{ .Task.Height }}" min="0" \>
            <br>
            <label for="task-posx">PosX:</label>
            <input type="number" id="task-posx" name="task-posx" value="{{ .Task.PosX }}" min="0" \>
            <label for="task-posy">PosY:</label>
            <input type="number" id="task-posy" name="task-posy" value="{{ .Task.PosY }}" min="0" \>
            <br>
            <input type="checkbox" id="task-background-enabled" {{ if .Task.Background }} checked {{ end }} name="task-background-enabled">
            <label for="task-background-enabled">Background</label>
            <br>
            <label {{ if not .Task.Background }} hidden {{ end }} id="background-color-label" for="background-color">Background Color: </label>
            <input {{ if not .Task.Background }} hidden {{ end }} type="color" id="background-color" name="background-color" value="#{{ .Task.BackgroundColor }}">
            <br>
            <button id="task-submit">Submit Task</button>
        </div>
        <br>
        <div>
            <label for="avatar-text">Speak something:</label>
            <br>
            <textarea id="avatar-text" name="avatar-text" rows="4" cols="50"></textarea>
            <br>
            <button id="avatar-text-submit">Speak</button>
        </div>
    </body>
<html>