<html>
    <head>
        <title>
            {{ .Title }}
        </title>
        {{ range .Javascript }}
            <script src=static/js/{{ . }}.js></script> 
        {{ end }}
        {{ range .CSS }}
            <link rel="stylesheet" href={{ . }}.css></script> 
        {{ end }}
    </head>
    <body>
        OBS<br>
        <input type="text" id="create-scene-name" /><button id="create-scene-submit">Create Scene</button><br>
        <select id="select-scene">
            {{ range .Scenes }}
                <option value="{{ .SceneName }}">{{ .SceneName }}</option>
            {{ end }}
        </select>
    </body>
<html>