<html>
    <head>
        <title>
            {{ .Title }}
        </title>
        {{ range .Javascript }}
            <script src=static/js/{{ . }}.js></script> 
        {{ end }}
        {{ range .CSS }}
            <link rel="stylesheet" href={{ . }}.css></script> 
        {{ end }}
    </head>
    <body>
        Test
        <div id="videos">
            {{ range .Recordings }}
                <div id="{{ .ID }}">
                    <br>
                    {{ .Directory }}/{{ .FileName }}.{{ .Extension }}
                    <br>
                    <button class="upload">Upload</button>
                </div>
            {{ end }}
        </div>
    </body>
<html>